
<% if notice %>
<%= notice %>
<% end %>

<h2>Your Cart</h2>

<%= render @cart %>


<th colspan="2">Total:</th>
<%= number_to_currency(@cart.total_price) %>
    
<%= button_to 'Empty cart', @cart, method: :delete,
data: { confirm: 'Are you sure?' } %>
