<div class="panel panel-default"> 
    <div class="panel-heading">
        
<div class="panel-body">
<p><em>By <%= text_comment.user.name %></em></p>
<%= text_comment.body %>
       
     </div>
</div>