/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_self

 */





    /*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
    background-color: black;
    font-family: 'Forum', cursive;
    background-repeat: no-repeat;
    margin: 1% 12%;
   
}


.main-posts{
    text-align:center;
    width: 100%;
    padding:3em 0 2em;
    background: rgba(238, 233, 233, 0.938);
	border:3px solid rgb(37, 36, 36);

}
.main{
    
    margin: 1em;
    text-align:center;
    margin:1 auto;

}

.main h1{
  font-size:2.5em;
  color: #fff;
  text-align: center;
  font-weight:500;
  font-family: 'Armata', sans-serif;
}
body a,form li,.submit input[type="submit"],form li.second,ul.age-groups li label,.submit.three input[type="submit"],.submit.two input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    
}

h3 {
    color: white;
}

       
                    .pic_info-nav {

                        position: relative;
                        background: rgb(185, 243, 97);
                        width: 100%;
                        vertical-align: center;
                        border: 1px solid rgba(255, 255, 255, 0.815);
                        border-radius: 10%;
                        float: right;
                        z-index: 1;


                        }

                        .pic_info-nav ul{
                            position: relative;
                            float: right;
                            display:inline-flex;

                                        }
                                        .pic_info-nav li{
                                            position: relative;
                                        align-self: center;
                                        margin: 4px;
                                        }
                                    
                                                    .pic-nav {
                                                        position: relative;
                                                        max-height: 45px;
                                                        max-width: 550px;
                                                        margin: 1px;
                                                        border: 1px solid black;
                                                        background: rgba(255, 255, 255, 0.521);

                                                            }
                            
                                                                    .cart-hide {

                                                                        
                                                                    }
                                                                            .cart-hide-content 
                                                                            {
                                                                               display: none;
                                                                            }

                                                                                .cart-hide:hover .cart-hide-content 

                                                                                            {
                                                                                                
                                                                                                display: block;

                                                                                            }
                                                                                            .a{ 
                                                                                                vertical-align: baseline;

                                                                                                max-height: 45px;
                                                                                                max-width: 300px;
                                                                                                z-index: 0;
                                
                            
                                                                                                    }
                                                                                                    .img-connect {

                                                                                                        width:50px;

                                                                                                    }
                        

                .nav-bar {
                    position: relative;
                    border-radius: 3%;
                    border: -3px solid rgba(121, 116, 116, 0.973);
                    float: left;
                    vertical-align: center;
                    text-align: center;
                    padding: 3%;
                    width: 89%;
                    z-index: 1;

                }
                            .nav-bar ul {
                                position: relative;
                                text-align:center;
                                vertical-align: center;
                                display: inline-flex;
                                color: white;    
                            }
                                .nav-bar li {
                                    position: relative;
                                    border: 5px solid rgba(255, 255, 255, 0.075);
                                    margin: 10px;
                                    border-radius: 20% ;


                                }


                                .nav-bar p {

                                       font-family: 'Monoton', cursive;
                                        font-size: 40px;
                                        letter-spacing: 3px;
                                        color: white;




                                }

                                    .word-nav {

                                        font-family: 'Libre Baskerville', serif;
                                        font-size: 200%;
                                        text-align: center;
                                        letter-spacing: 1px;
                                        background: #81b2f317;
                                        border-radius: 80%;
                                        }


                            main {
                        
                            padding: 22%;
                            background: rgba(29, 156, 240, 0.466);
                            margin: 5s;
                            position: relative;
                            text-align: center;
                            border-radius: 40%;
                            border: 1px solid rgba(204, 204, 204, 0.92);
                            z-index: 0;
                            }
    
    
                                                    .box-login {
                                                        position: relative;
                                                        background: rgba(255, 255, 255, 0.979);
                                                        padding: 6%;
                                                        border: 2px solid rgba(0, 0, 0, 0.404);
                                                        border-radius: 7%;
                                                        margin: -6%;
                                                        -webkit-box-shadow: -30px 7px 67px 8px rgba(0,0,0,0.54);
                                                        -moz-box-shadow: -30px 7px 67px 8px rgba(0,0,0,0.54);
                                                        box-shadow: -30px 7px 67px 8px rgba(0,0,0,0.54);
                                                        

                                                                
                                                        }

                                                        .form-control {
                                                    
                                                            padding: 4% 4%;
                                                            margin: 8px 0;
                                                            border: 1px solid rgba(204, 204, 204, 0.92);
                                                            border-radius: 8px;
                                                            box-sizing: border-box;
                                                            position: relative;
                                                            

                                                            }
                                                        
                                                    .box-login p {
                                                    
                                                        color: #395faa;
                                                        text-align: center;       
                                                        border:1px solid, white;
                                                        }
                                                    
                                                        .remember{
                                                    
                                                    display: inline-flex;    
                                                                
                                                            }

                                                            .btn-primary {
                                                                position:relative;
                                                                text-align: center;
                                                                background-color: rgba(18, 132, 238, 0.74);
                                                                color: white;
                                                                padding: 5% 10px;
                                                                margin: 8px 0;
                                                                border: 0.1px, solid rgba(252, 244, 244, 0.911);
                                                                border-radius: 15%;
                                                                cursor: pointer;
                                                                }
                                                                .btn-primary:hover {
                                                                    background-color: #9ed7fd;
                                                                    }
                                                            
                                                                
                                                                    @keyframes line-item-highlight { 

                                                                        0% {
                                                                            background: rgb(87, 111, 155); 
                                                                        }


                                                                        100% { 
                                                                            background: none; 
                                                                        }

                                                                            }
                                                                            

                                                                            .line-item-highlight {

                                                                            animation: line-item-highlight 1s; 
                                                                        
                                                                            }
                                                                            
                                                            

                                                                            .links {
                                                                            
                                                                                color: white;

                                                                            }                              
                                                    
        
                                                                            .messages {

                                                                                max-height: 400px;
                                                                                overflow-y: auto;
                                                                                margin-bottom: 1em;
                                                                                margin-top: 1em;
                                                                            }   
                                                                            
                                                                            .conversation-img {
                                                                                max-width: 10px;

                                                                            }
   


.content{
	width: 100%;
    margin:0 auto;
    border: 2px solid rgba(117, 200, 245, 0.303);
}

.content-posts{

    width: 100%;
    margin:0 auto;
    
}

.profile {
    margin-top:3em;
    border: 4px solid rgba(255, 255, 255, 0.57);
    border-radius: 10%;

}

.profile-posts {

    background: white;
    margin-top:3em;
    width: 100%;

}

.profile-post {

    margin-top:3em;
    width: 100%;

}

.profile-top {
	background:#0e213dbd;
    padding:1.5em;
    border-radius: 10%;
}

.pic {
	float:left;
    width:30%;
    max-width:25%;

}

.pic img {
	width:100%;
	border-radius:35%;
	border:3px solid rgba(255, 255, 255, 0.808);
}

.pic_info {
	float:left;
	width:65%;
	margin-left:10%;
	text-align:left;
	padding-top: 2em;
}
.pic_info h2 {
	color:#fff;
	font-size:1.5em;
	font-weight: 600;
}

.pic_info h3 {
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
}

.media {
	margin-top:1em;
	padding-top:1em;
	border-top:1px solid rgba(255, 255, 255, 0.26);
}

.tweet {
	width:33.3%;
	float:left;
}
.tweet h4,.follow h4,.follow2 h4{
	color:#fff;
	font-size:1.4em;
	font-weight:600;
}
.tweet h5,.follow h5,.follow2 h5{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
}
.follow{
	width:33.3%;
	float:left;
}
.follow2{
	width:33.3%;
	float:left;
}

.list_image {
    max-width:150% ;
}

.profile-bottom ul li{
    list-style: none;
    text-align: left;
	border-bottom:1px ridge #DFDFDF;
}
.profile-bottom ul li:nth-child(6){
	border-bottom:none;
}
.profile-bottom ul li a{
    padding: 17px 20px;
    margin: 0;
    display: block;
	background:#f5f5f5;
	color:#a7cef9;
	font-size:1.1em;	
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.profile-bottom ul li a:hover{
	color:#fff;
	background: #94b5f2c4;
}
.profile-bottom ul li i {
    background: #374559;
    float: right;
    padding: 4px 12px;
    font-size: 13px;
    display: block;
	color:#fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    font-style: normal;
}


li.button {
	list-style: none;
	text-align: left;
}
li.menu{
	padding: 0;
	width: 100%;
	border-bottom: 1px solid#CD5F4A;
	margin: 0;
}
li.menu:hover {
	background: #C6533D;
}
li.button a:hover{
	text-decoration:none;
}
li.button a span{
margin-right: 22px;
}
.dropdown{
	padding: 0;
	width:100%;
}
.dropdown li a{
	border-left: 6px solid #ffffff;
	display: block;
}
ul.icon-navigation li{
	border-bottom:none;
}
ul.icon-navigation li a span {
	color: #fff;
	float: right;
	margin-right: 9px;
	font-size: 14px;
}
ul.icon-navigation li a:hover {
	border-left: 6px solid #C5C5C5;
	    background: #C5C5C5;
}
ul.icon-navigation{
	position: relative;
}
ul.icon-navigation li:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 30px;
	top: -0.5%;
	border-width: 11px 12px 0px 12px;
	border-style: solid;
	border-color: #f5f5f5 rgba(129, 179, 243, 0.597);
}
ul.icon-navigation li a {
	color: #fff;
    background: #b2c7f3e5;
    border-radius: 6%;
}
/*---------------*/

.followers-list {
    }

.followers-list-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    }

.followers-list:hover .followers-list-content {
        display: block;
    }
  

    .name-bar {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

    }
 
 
    
.avatar {
    
        float:left;
	    width:25%;
    
    }

    



















/*--responsive--*/
@media (max-width: 1440px){
}
@media (max-width: 1366px){
}
@media (max-width: 1080px){
.content {
    width: 40%;
    margin: 0 auto;
}
.tweet h5, .follow h5, .follow2 h5 {
    font-size: 1em;
}
.pic_info {
    padding-top: 1.5em;
}
}
@media (max-width: 1024px){
}
@media (max-width: 768px){
.content {
    width: 50%;
    margin: 0 auto;
}
.main h1 {
    font-size: 2.3em;
}
.pic_info h2 {
    font-size: 1.3em;
}
.tweet h4, .follow h4, .follow2 h4 {
    font-size: 1.3em;
}
.profile-bottom ul li a {
    padding: 15px 20px;
    font-size: 1em;
}
.copy-right p {
    font-size: 0.9em;
}
}
@media (max-width: 640px){
.pic_info h2 {
    font-size: 1.2em;
}
.pic_info h3 {
    font-size: 0.9em;
}
.content {
    width: 55%;
    margin: 0 auto;
}
.tweet h4, .follow h4, .follow2 h4 {
    font-size: 1.1em;
}
.tweet h5, .follow h5, .follow2 h5 {
    font-size: 0.9em;
}
.profile-top {
    padding: 1em;
}
.media {
    margin-top: 0.7em;
    padding-top: 0.7em;
}
}
@media(max-width:480px){
.main h1 {
    font-size: 1.8em;
}
.content {
    width: 75%;
    margin: 0 auto;
}
.profile {
    margin-top: 2em;
}
}
@media(max-width:320px){
.content {
    width: 90%;
    margin: 0 auto;
}
.main {
    padding: 2em 0 2em;
}
.pic {
    width: 35%;
    max-width: 35%;
}
.pic_info {
    width: 54%;
}
.tweet h4, .follow h4, .follow2 h4 {
    font-size: 1em;
}
.tweet h5, .follow h5, .follow2 h5 {
    font-size: 0.8em;
}
.profile-bottom ul li a {
    padding: 12px 17x;
    font-size: 0.9em;
}
.profile-bottom ul li i {
    padding: 4px 9px;
    font-size: 11px;
}
.copy-right {
    margin-top: 4em;
}
.main h1 {
    font-size: 1.3em;
}

.pic-check {

    min-width: 200%;
    padding: 10%;

}
.search-nav{

    width: 50%;
 text-align: center;
}

}
