<% if line_item == @current_item %>

<% else %>

<% end %>
<div class="line"><div class="line"><h1> Title </h1><a>:</a>
<%= line_item.product.title %></div>
</br>
<div class="line"><h1> Qtl </h1><a>:</a>
<%= line_item.quantity %></div>
</br>
<div class="line"><h1> </h1><a>|</a>
<%= number_to_currency(line_item.total_price) %></div></div>

