<% if line_item == @current_item %>
<% else %>
<div class="inside-cart">
<% end %>

<ul>
<li><%= line_item.product.title %></li>

<li><%= line_item.quantity %></li>

<li><%= number_to_currency(line_item.total_price) %></li>
</ul>

</div>